<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_cz_edu_mub_pef_ja_xkosteln_model_PPscMesta" object="${ppscmesta}" path="/ppscmestas" z="XwmI7I+UECH59hAqli+1TEoOB50=">
        <field:display field="PAdresies" id="s_cz_edu_mub_pef_ja_xkosteln_model_PPscMesta_pAdresies" object="${ppscmesta}" z="OreyeD6h2lUpL29MAJKvNPZKE8Q="/>
        <field:display field="PMinuleAdresies" id="s_cz_edu_mub_pef_ja_xkosteln_model_PPscMesta_pMinuleAdresies" object="${ppscmesta}" z="z6V4z4W4OfG8D/1xYBmzJqNRqmw="/>
        <field:display field="mesto" id="s_cz_edu_mub_pef_ja_xkosteln_model_PPscMesta_mesto" object="${ppscmesta}" z="pNIBwGFAM+35r55Sh1HStnmIuII="/>
    </page:show>
</div>
