<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_cz_edu_mub_pef_ja_xkosteln_model_PMinuleAdresy" items="${pminuleadresys}" z="Mmq8Yv07JgjqYjaM5eLxT/DQvnw=">
        <table:table data="${pminuleadresys}" id="l_cz_edu_mub_pef_ja_xkosteln_model_PMinuleAdresy" path="/pminuleadresys" typeIdFieldName="idMinAdresy" z="87ROyeWf7EOtfcD4MNJ3fQ/h18E=">
            <table:column id="c_cz_edu_mub_pef_ja_xkosteln_model_PMinuleAdresy_pPscMesta" property="PPscMesta" z="GCp4Cq+WOKqDqDIWG+gOC9qEOgw="/>
            <table:column id="c_cz_edu_mub_pef_ja_xkosteln_model_PMinuleAdresy_pOsoby" property="POsoby" z="wqJXN0Gz1eOBzE8gAkphROw5prY="/>
            <table:column id="c_cz_edu_mub_pef_ja_xkosteln_model_PMinuleAdresy_ulice" property="ulice" z="KvbDqF1mh/gMmjZMSmbdJ18ruuI="/>
            <table:column id="c_cz_edu_mub_pef_ja_xkosteln_model_PMinuleAdresy_cp" property="cp" z="+hU8rxhjtbvPu0/tVs54JFU76V0="/>
            <table:column id="c_cz_edu_mub_pef_ja_xkosteln_model_PMinuleAdresy_zeme" property="zeme" z="0f9IgOdZFsQ5DTViu/KFxBcHOIA="/>
        </table:table>
    </page:list>
</div>
