<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_cz_edu_mub_pef_ja_xkosteln_model_PUkonceniClenstvi" idField="idUkonceni" modelAttribute="pUkonceniClenstvi" path="/pukonceniclenstvis" versionField="none" z="kv6cN8262W8hNz7fBAIUH+SkeUg=">
        <field:select field="pDuvodyUkonceni" id="c_cz_edu_mub_pef_ja_xkosteln_model_PUkonceniClenstvi_pDuvodyUkonceni" itemValue="idDuvody" items="${pduvodyukoncenis}" path="/pduvodyukoncenis" z="wWQtukmAD0R4fC/3ks+yA8LRNSc="/>
        <field:select field="pOsoby" id="c_cz_edu_mub_pef_ja_xkosteln_model_PUkonceniClenstvi_pOsoby" itemValue="idOsoby" items="${posobys}" path="/posobys" z="cY9NpbEyvx/KmMhP58OhuaO9SIY="/>
        <field:datetime dateTimePattern="${pUkonceniClenstvi_datumukonceni_date_format}" field="datumUkonceni" id="c_cz_edu_mub_pef_ja_xkosteln_model_PUkonceniClenstvi_datumUkonceni" required="true" z="IGq/98UtXBZiIq5fvmrgpjDiuSE="/>
        <field:input field="poznamka" id="c_cz_edu_mub_pef_ja_xkosteln_model_PUkonceniClenstvi_poznamka" z="wyKO2Rin+GNfUHeFvYykbCATzfc="/>
    </form:update>
</div>
